[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotifyconnector = {editable = true, path = "."}
requests = "2.31.0"
loguru = "0.7.0"
wheel = "*"
black = "*"

[dev-packages]
setuptools = "*"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3"
