[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotifyconnector = {editable = true, path = "."}
loguru = "0.7.0"
wheel = "*"
black = "*"
requests = "*"

[dev-packages]
setuptools = "*"
pytest = "*"
black = "*"
isort = "*"
bandit = "*"
safety = "*"
semgrep = "*"

[requires]
python_version = "3"
